body {
    margin: 0;
    padding: 0;
}

.pagename {
    position: absolute;
    top: 5px;
    left: 15px;
    color: #0e1111;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;


}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.canvasWrapper {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
}

#myCanvas {
    max-height: 80vh;
}

#userinput {
    width: 150px;
    max-width: 150px;
}

#drop_zone {
    border: 1px solid #aaaaaa;
    height: 43px;
    margin-top: 15px;
}